body {
    font-family: sans-serif;
}

.bar-container {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid black;
    height: 200px;
    margin-top: 20px;
}

.bar {
    background-color: red;
    margin-right: 5px;
}
