{{! src/views/user/change-password.handlebars }}
<h1>Alterar Senha</h1>
<form action="/profile/change-password" method="POST">
    <div class="mb-3">
        <label for="currentPassword" class="form-label">Senha Atual:</label>
        <input type="password" class="form-control" id="currentPassword" name="currentPassword" required>
    </div>
    <div class="mb-3">
        <label for="newPassword" class="form-label">Nova Senha:</label>
        <input type="password" class="form-control" id="newPassword" name="newPassword" required>
    </div>
    <div class="mb-3">
        <label for="confirmNewPassword" class="form-label">Repetir Nova Senha:</label>
        <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" required>
    </div>
    <button type="submit" class="btn btn-primary">Alterar Senha</button>
</form>